
.conteneur_bouton
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo_text
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

section h2
{
    margin-left: 100px;
}
section h3
{
    text-align: center; /*Centre le texte*/
    margin-top: 50px; /*Espace important au-dessus*/
    margin-bottom: 20px; /*Espace en dessous*/
   
}

.btn-suprimer
{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer; /*change le curseur en main au survol*/
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: auto;
    display: flex;
    margin-top: 100px;
}

.btn-suprimer:hover
{
    background-color: #000;
}