.search_bar
{
    display: flex; 
    align-items: center; /*Aligne verticalement les éléments au centre*/
    background-color: #ffffff;
    border: 2px solid #e0e0e0; /*bordure grise légere*/
    border-radius: 50px; /*Forme "pilule" aeeondie */
    padding: 5px 5px 5px 15px; /*Espace intérieur plus large*/
    max-width: 800px;
    margin: 20px auto; /*centre la barre horizontalement dans la page*/
    transition: border-color 0.3s ease;
}

.search_bar:focus-within
{
    border-color: #333;
    box-shadow: 0 0 8px rgba(0,0,0,0.1); /*Affiche une ombre quand on clique*/
}

.search_bar label
{
    display: none; /*Masque le visuel*/
}

.search_bar input
{
    flex-grow: 1; /*prend toute l'espace disponible restant*/
    border: none;
    outline: none; /*suprime le contour*/
    padding: 10px;
    font-size: 16px;
    background: transparent;
}

.search_bar button
{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer; /*change le curseur en main au survol*/
    font-weight: bold;
    transition: background-color 0.3s;
}

.search_bar button:hover /*Effet de survol du button : devient noir*/
{
    background-color: #000;
}

.service-grid
{
    display: flex;
    flex-wrap: wrap; /*Permet de passer à la ligne automatiquement sur mot*/
    gap: 20px; /*Crée un espace propre entre les articles*/
    list-style: none; /*Suprime les puces de la liste*/
    padding: 0; /*Nettoie les marges par défaut des listes */
}

.service-grid li
{
    flex: 1; /*Chaque article prendra la mème latgeur*/
    min-width: 300px; /*Largeur minimale : sil'écran est trop petit, ils passeront à la ligne*/
}

.service-grid article
{
    display: block;/*On le laisse en block, c'est mieux dans une flexbox*/
    height: 100%; /*Permet aux cartes d'avoir la même hauteur*/
    border: 1px solid #add;
    padding: 15px;
}

.service-grid article img
{
    width: 100%; /*L'image occupe toute la largeur de l'argiche*/
    height: 200px; /*Définit une hauteur fixe pour toutes les images*/
    object-fit: cover; /*La propriété magique: Recadre l'image pour qu'elle remplisse l'espace sans se déformer */
    display: block;
}

.btn-solliciter
{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer; /*change le curseur en main au survol*/
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-solliciter:hover
{
    background-color: #000;
}

section h3
{
    text-align: center; /*Centre le texte*/
    margin-top: 50px; /*Espace important au-dessus*/
    margin-bottom: 20px; /*Espace en dessous*/
   
}