.search_bar
{
    display: flex; 
    align-items: center; /*Aligne verticalement les éléments au centre*/
    background-color: #ffffff;
    border: 2px solid #e0e0e0; /*bordure grise légere*/
    border-radius: 50px; /*Forme "pilule" aeeondie */
    padding: 5px 5px 5px 15px; /*Espace intérieur plus large*/
    max-width: 800px;
    margin: 20px auto; /*centre la barre horizontalement dans la page*/
    transition: border-color 0.3s ease;
}

.search_bar:focus-within
{
    border-color: #333;
    box-shadow: 0 0 8px rgba(0,0,0,0.1); /*Affiche une ombre quand on clique*/
}

.search_bar label
{
    display: none; /*Masque le visuel*/
}

.search_bar input
{
    flex-grow: 1; /*prend toute l'espace disponible restant*/
    border: none;
    outline: none; /*suprime le contour*/
    padding: 10px;
    font-size: 16px;
    background: transparent;
}

.search_bar button
{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer; /*change le curseur en main au survol*/
    font-weight: bold;
    transition: background-color 0.3s;
}

.search_bar button:hover /*Effet de survol du button : devient noir*/
{
    background-color: #000;
}

section h2
{
    margin-left: 100px;
}

section h3
{
    text-align: center; /*Centre le texte*/
    margin-top: 50px; /*Espace important au-dessus*/
    margin-bottom: 20px; /*Espace en dessous*/
   
}