.container
{
    display: flex;
    gap: 30px; 
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.colonne-gauche, .colonne-droite
{
    flex: 1; /*Chaque colonne prend la moitié de l'espace */
    
}

.colonne-gauche
{
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #333333;
   
}

.box-competences
{
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid #333333;
}
  
.colonne-droite
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}