
body
{
    background-color:white; /*Couleure de fond des pages*/
    font-family:sans-serif;
}

header
{
    background-color:aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap:100px;

}

header nav ul
{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 50px;
    color: black;
}

header nav ul li a
{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    padding: 10px 20px;
    display: inline-block;
    z-index: 1;
}

header nav ul li a::after 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 50px;
    transform: scale(0);
    transition: 0.3s ease-out;
    z-index: -1;
   

}

header nav ul li a:hover::after
{
    transform: scale(1);
    background-color: rgb(208, 52, 35);
}

header nav ul li a:hover
{
    color: black;
     
}



.logo
{
    width: 300px; 
    

}
.navbar
{
    color:black;
}

footer
{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 0 20px;
    margin-top: 100px;
    
}

footer > ul /*Signifie "cible uniquement la liste qui est juste au dessous*/
{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
    max-width: 1200 px;
}

 

.footer-bottom
{
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    margin-top: 40px;
    padding: 20px 0;
}

.formulaire
{
    max-width: 600px;
    margin: 40px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.form-group
{
    margin-bottom: 20px;
}

.form-group label /*label pour une méilleure visinilité*/
{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

.form-group input,
.form-group textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box; /*Important pour ne pas dépasser le cadre*/
    transition: 0.3s;
}

.form-group input:focus,
.form-group textarea:focus
{
    outline: none;
    border-color: #333;
    box-shadow: 0 0 5px rgba(51,, 51, 51, 0.2);
}

.btn-submit
{
    display: block;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

